#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 18rem;
  text-align: center;
  padding: .5rem .5rem;
  box-shadow: 2rem 2rem 3.4rem rgba(0, 0, 0, 0.03);
  border: 1px solid var(--color-border);
  border-radius: 0.4rem;
  margin: 1.5rem 0;
}

#feature .fe-box:hover {
  box-shadow: 1rem 1rem 5.4rem rgba(70, 62, 221, 0.13);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 1rem;
}

#feature .fe-box h6 {
  padding: 0.9rem 0.8rem 0.6rem 0.8rem;
  line-height: 1;
  border-radius: 0.4rem;
  color: var(--background-navbar-color);
  font-weight: 600;
  background-color: var(--background-alternative-rose);
}

#feature .fe-box:nth-child(1) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #f6dbf6;
}

@media screen and (max-width: 768px) {
  #feature .fe-box h6 {
    font-size: 2rem;
    font-weight: 600;
  }
  
  #feature .fe-box {
    width: 100%;
  }
}