.header-container {
  background-color: #131414; /* Azul escuro */
  color: #ffffff; /* Texto branco */
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.header-nav .nav-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  transition: color 0.3s;
}

.header-nav .nav-list a:hover {
  color: #ffd700; /* Amarelo */
}
